NEXT_PUBLIC_API_BASE_URL=https://polaria-wms-api.onrender.com
NEXT_PUBLIC_WMS_LOGIN_URL=https://polaria-wms-web.vercel.app/

# En localhost el login directo se habilita automáticamente.
# Forzar en otros entornos: true | false
# NEXT_PUBLIC_ALLOW_DIRECT_LOGIN=true
